:root {
  --main-blue: #007bff;
  --main-mint: #00c7bd;
  --main-black: #000;
  --main-white: #fff;
  --main-red: #ff3a30;
  --main-gray: #8e8e93;
  --main-green: #34c759;
  --main-purple: #af52de;
  --main-bg-white: #f2f2f2;
  --main-light-gray: #e0e0e0;
}

body {
  background-color: var(--main-bg-white);
}

a {
  text-decoration: none;
}

.form-control:focus {
  box-shadow: none;
}
