.editPostFormContainer {
  margin-top: 10px;
}

.editPostHeader {
  display: flex;
  margin-bottom: 10px;
}

.editPostTitle {
  flex: 1;
}

.editPostRiseFallBtnContainer {
  margin-left: 5px;
}

.editPostRiseBtn {
  margin-right: 2px;
}

.editPostContentInput {
  height: 200px;
}

.editPostBtn {
  position: fixed;
  bottom: 0;
  max-width: 768px;
  width: 100%;
}
