.loginContainer {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.loginFormContainer {
  margin-top: 30px;
}

.loginFormLogo {
  color: var(--main-blue);
  margin-bottom: 30px;
}

.loginBtn {
  width: 100%;
  padding: 5px;
}

.googleLoginBtn {
  width: 100%;
  background-color: var(--main-white);
  color: var(--main-black);
  border: 1px solid var(--main-light-gray);
  border-radius: 0.25rem;
  padding: 5px;
}

.googleLoginBtn:hover {
  background-color: #f5f5f5;
}

.googleIcon {
  margin-right: 10px;
  margin-bottom: 2px;
}

.linkSignup {
  float: right;
}

.hr-sect {
  display: flex;
  align-items: center;
  color: var(--main-black);
  margin: 25px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: var(--main-light-gray);
  height: 1px;
  margin: 0px 10px;
}
