.newPostFormContainer {
  margin-top: 10px;
}

.newPostHeader {
  display: flex;
  margin-bottom: 10px;
}

.newPostTitle {
  flex: 1;
}

.riseFallBtnContainer {
  margin-left: 5px;
}

.riseBtn {
  margin-right: 2px;
}

.newPostTextArea {
  height: 600px;
}

.postBtn {
  position: fixed;
  bottom: 0;
  max-width: 768px;
  width: 100%;
}
