.newPostFormContainer {
  margin-top: 10px;
}

.newPostHeader {
  display: flex;
  margin-bottom: 10px;
}

.newPostTitle {
  flex: 1;
}

.newPostRiseFallBtnContainer {
  margin-left: 5px;
}

.newPostRiseBtn {
  margin-right: 2px;
}

.newPostContentInput {
  height: 200px;
}

.newPostBtn {
  position: fixed;
  bottom: 0;
  max-width: 768px;
  width: 100%;
}
