.newsContainer {
  background-color: #fff;
}

.newsItemContainer {
  margin-top: 30px;
  border-top: 1px solid #d4d6dc;
  margin: 0 10px;
}

.newsThumbnail {
  margin-top: 30px;
  display: flex;
}

.newsThumbnail img {
  width: 150px;
}

.newsTitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.newsTitleLink {
  color: #000;
}

.newsDescription,
.newsPublishedAt {
  font-size: 14px;
  color: #999;
}
