.newsContainer {
  background-color: var(--main-white);
}

.newsItemContainer {
  margin-top: 30px;
  border-top: 1px solid var(--main-light-gray);
  margin: 0 10px;
}

.newsThumbnail {
  margin-top: 30px;
  display: flex;
}

.newsThumbnail img {
  width: 150px;
}

.thumbnailImg {
  width: 100px;
  height: 150px;
}

.newsTitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.newsTitleLink {
  color: var(--main-black);
}

.newsDescription,
.newsPublishedAt {
  font-size: 14px;
  color: #999;
}
