.postContainer {
  padding: 30px;
  background-color: var(--main-white);
}

.postInfoContainer {
  border-bottom: 1px solid var(--main-light-gray);
}

.postInfo {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: var(--main-gray);
}

.postInfoIcon {
  margin-left: 3px;
  margin-right: 3px;
}

.postInfoCoinImg {
  width: 20px;
  margin-right: 5px;
}

.postTitleContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.postTitle {
  font-weight: bold;
  display: inline;
  font-size: 24px;
}

.postTitleRiseFall {
  float: right;
}

.postTitleRiseFallIcon {
  font-size: 30px;
  margin-left: 5px;
}

.postAuthorContainer {
  border-bottom: 1px solid var(--main-light-gray);
  margin-bottom: 20px;
  padding: 10px 0;
  padding-bottom: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--main-gray);
}

.postAuthorImg {
  width: 20px;
  margin-right: 5px;
  border-radius: 9999px;
}

.postContentContainer {
  height: 300px;
  margin-bottom: 15px;
}

.postContent {
  line-height: 2;
}

.postCreatedAt {
  font-size: 14px;
  border-bottom: 1px solid var(--main-light-gray);
  color: var(--main-gray);
}

.postEditAndDeleteContainer {
  float: right;
  margin-top: 10px;
}

.postEditBtn {
  margin-right: 5px;
}
.postEditBtn,
.postDeleteBtn,
.postEditBtn:hover,
.postDeleteBtn:hover {
  background-color: var(--main-white);
  border-color: var(--main-light-gray);
  color: var(--main-gray);
}
.navigateCoin {
  cursor: pointer;
}
