.postContainer {
  margin: 15px auto;
  max-width: 700px;
  padding: 10px;
}

.postInfo {
  border-bottom: 1px solid #e0e0e0;
}

.postInfoDiv {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #949eac;
}

.rightArrowIcon {
  margin-left: 3px;
  margin-right: 3px;
}

.postHeader {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.postTitle {
  font-weight: bold;
  display: inline;
  font-size: 24px;
}

.postTitleCoinInfo {
  float: right;
}
.postTitleCoinImg {
  width: 20px;
  margin-right: 5px;
}

.riseFallIcon {
  font-size: 30px;
  margin-left: 5px;
}

.postAuthorContainer {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding: 10px 0;
  padding-bottom: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #949eac;
}

.postAuthorImg {
  width: 20px;
  margin-right: 5px;
  border-radius: 9999px;
}

.postContentContainer {
  height: 300px;
  margin-bottom: 15px;
}

.postContent {
  line-height: 2;
}

.postCreatedAt {
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  color: #949eac;
}

.editAndDeleteBtn {
  float: right;
  margin-top: 10px;
}

.editBtn {
  margin-right: 5px;
}
.editBtn,
.deleteBtn,
.editBtn:hover,
.deleteBtn:hover {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #757575;
}

@media (max-width: 370px) {
  .deleteEditBtnDiv {
    float: none;
    text-align: right;
  }
}
