.profileContainer {
  margin-top: 10px;
  padding-top: 50px;
}

.profileBox {
  display: flex;
}

.profileImg {
  width: 100px;
  height: 100px;
  margin: 0px 120px;
}

.profileHeader {
  margin-bottom: 32px;
}

.profileHeader,
.profileBody {
  display: flex;
}

.profileEditBtn,
.profileUnFollowBtn,
.profileFollowBtn {
  margin-left: 23px;
}

.profileBodyCol {
  margin-right: 32px;
}

.modalBody {
  padding: 20px;
}

.modalRow {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.modalProfile,
.modalNickname,
.modalUserId {
  width: 140px;
  text-align: right;
  padding-right: 32px;
  font-size: 18px;
}

.modalProfileImage {
  width: 70px;
  height: 70px;
  margin-right: 16px;
}

.modalProfileImageInput {
  display: none;
}

.modalInputUserId,
.modalInputNickname {
  border-top: none;
  border-left: none;
  border-right: none;
}
