.signupContainer {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.signupFormLogo {
  color: var(--main-blue);
  margin: 30px 0;
}

.signupBtn {
  width: 100%;
}

.linkLogin {
  float: right;
}
