.commentContainer {
  margin-top: 60px;
}
.commentTitle {
  margin-bottom: 25px;
  font-weight: bold;
}
.commentImgContent {
  display: flex;
  align-items: center;
}
.commentProfileImg {
  border-radius: 9999px;
  width: 38px;
}

.commentFormContainer {
  margin-left: 10px;
  width: 90%;
}
