.postsContainer {
  margin-top: 20px;
}

.postsBtn {
  float: right;
  margin-bottom: 10px;
}

.postsCardContainer {
  clear: both;
}

.postsCard {
  margin: 25px auto;
  cursor: pointer;
}

.postsCardHeader {
  font-weight: bold;
  background-color: #fff;
}

.riseFallIcon {
  float: right;
  font-size: 30px;
}

.postsCardInfo {
  margin-top: 50px;
}

.postsAuthorImg {
  width: 25px;
  margin-right: 5px;
  border-radius: 9999px;
}

.postsCardCreatedAt {
  font-size: 12px;
  float: right;
}
