.postsContainer {
  margin-top: 20px;
}

.postsBtn {
  float: right;
  margin-bottom: 10px;
}

.postsCardContainer {
  clear: both;
}

.postsCard {
  margin: 25px auto;
  cursor: pointer;
}

.postsCardHeader {
  font-weight: bold;
  background-color: #fff;
}

.postsCardCreatedAt {
  font-size: 12px;
  float: right;
}
