.postsContainer {
  margin-top: 20px;
}

.postsBtn {
  float: right;
  margin-bottom: 10px;
}

.postsDiv {
  clear: both;
}
.postsCard {
  margin-top: 10px;
}
.postsCardCreatedAt {
  font-size: 5px;
}
